html, body, div, span, applet, object, iframe, h1, 
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 0;
}
.main {
    position: relative;
    z-index: 1;
    padding-top: 2.9rem;
}
/*header*/
.header {
    z-index: 2;
    position: fixed;
    height: 2.9rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.header .logo {
    display: inline-flex;
}   
.header img {
    margin-left: 1.09rem;
}
.header span {
    font-weight: bold;
    color: rgb(95, 95, 95);
}
.header h1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: gray;
}
.header .nav {
    display: inline-flex;
    justify-content: space-around;
    font-size: 1rem;
    margin-right: 1.09rem;
    color: rgb(95, 95, 95);
    font-weight:500;
}
.header .nav p {
    margin-left: 0.72rem;
}
/*header*/
.start {
    background-color: rgb(212, 212, 212);
    display: flex;
    width: 100%;
    height: auto;

}
.start img {
    max-width: 60%;
    height: auto;
    padding-left: 1.7rem;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}
.start .startinfo {
    font-weight: bold;
    color: rgb(78, 78, 78);
    padding-left: 1.7rem;
    padding-right: 3.63rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.start h1 {
    font-size: 2rem;
    font-weight:bolder;
    margin-bottom: 1.45rem;
}
.start p {
    font-size: 1.15rem;
    margin-bottom: 1.45rem;
}
.start .button{
    background-color: rgb(78, 78, 78);
    height: 3.3rem;
    width: 98%;
}
.start .button h3{
    font-size: 1rem ;
    color: white;
    padding-top: 1.06rem;
    text-align: center;
    font-weight: 400; 
}
/*information*/
.info {
    background-color: rgb(245, 245, 245);
    display: flex;
    width: 100%;
    height: auto;
}
.info .quote {
    max-width:55%;
    height: auto;
    padding: 2.3rem 1.7rem;
    color:rgb(78, 78, 78);
}
.info .quote img {
    max-width: 100%;
    height: auto;
    padding-bottom: 2.3rem;
}
.info .quote h1 {
    font-size: 2rem;
    font-weight:bolder;
    margin-bottom: 1.45rem;
}
.info .quote p {
    font-weight:300;
    font-size: 0.9rem;
    color: rgb(105, 105, 105);
    margin-bottom: 2rem;
    line-height: 1.5;
}
.info .quote h6 {
    font-weight: 500;
    font-size: 0.78rem;
    color: rgb(61, 61, 61);
}
.info .orientation {
    max-width: 40%;
    padding-top: 1.5rem;
    height: auto;
    border-left: 0.1rem solid rgb(230, 230, 230);
}
.info .orientation .list {
    display: flex;
    border-bottom : 0.23rem double rgb(230, 230, 230);
}
.info .orientation .list img {
    width: 35%;
    height: auto;
    padding: 0.72rem;
}
.info .orientation .content {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info .orientation .content p {
    font-weight:300;
    font-size: 0.9rem;
    color: rgb(105, 105, 105);
    line-height: 1.5;
}
.info .orientation .content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(78, 78, 78);
    margin-bottom: 0.36rem;
}
.info .orientation .content h6 {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(159, 119, 224);
    margin-top: 0.36rem;
}
.info .orientation :hover {
    background-color: rgb(221, 221, 221);
}
/*courses*/
.courses {
    background-color: rgb(230, 230, 230);
    padding: 1.45rem 3.27rem;
}
.courses h1 {
    font-size: 2rem;
    font-weight:bolder; 
    text-align: center;  
    color:rgb(78, 78, 78); 
    margin-bottom: 1.45rem;
}
.courses .selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.courses .selection img {
    height: auto;
    width: 100%;
}
.courses .selection .list {
    background-color: white;
    max-width: 30%;
    margin-bottom: 1.45rem;
    overflow: hidden;
}
.courses .selection .list h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(78, 78, 78);
    margin-top: 0.72rem;
    margin-left: 0.72rem;
}
.courses .selection .list p {
    font-weight:300;
    font-size: 0.9rem;
    color: rgb(158, 158, 158);
    margin-left: 0.72rem;
    margin-top: 0.36rem;
    margin-bottom: 1.45rem;
}
.courses .selection .list h4 {
    font-weight:300;
    font-size: 0.9rem;
    color: rgb(105, 105, 105);
    margin-left: 0.72rem;
    margin-top: 0.72rem;
}
/*thesis*/
.examples {
    background-color: rgb(245, 245, 245);
    padding-left: 1.09rem;
    padding-top: 1.45rem;
    padding-bottom: 1.45rem;
}
.examples h1 {
    font-size: 2rem;
    font-weight:bolder; 
    text-align: center;  
    color:rgb(78, 78, 78); 
    margin-bottom: 1.45rem;
}
.examples .flex {
    display: flex;
    width: 100%;
    height: auto;
}
.examples .quote {
    max-width:55%;
    height: auto;
    color:rgb(78, 78, 78);
    margin-right: 1.09rem;
}
.examples .quote video {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.09rem;
}
.examples .quote p {
    font-weight:300;
    font-size: 0.8rem;
    color: rgb(105, 105, 105);
    line-height: 1.5;
}
.examples .quote h3 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(78, 78, 78); 
    margin-bottom: 0.36rem; 
}
.examples .selection {
    max-width: 40%;
    height: auto;
}
.examples .selection .list {
    display: flex;
}
.examples .selection .list img {
    width: 35%;
    height: auto;
    padding: 0.8rem;
}
.examples .selection .content {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.examples .selection .content p {
    font-weight:300;
    font-size: 0.9rem;
    color: rgb(105, 105, 105);
    line-height: 1.5;
}
.examples .selection .content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(78, 78, 78);
    margin-bottom: 0.36rem;
}
.examples .selection :hover {
    background-color: rgb(221, 221, 221);
}
/*footer*/
.footer {
    display: flex;
    padding-top : 0.72rem;
    padding-left: 1.09rem;
    padding-right: 1.09rem;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 0.74rem;
    color: rgb(139, 139, 139);
    margin-bottom: 2rem;
    justify-content: space-between;
}
.footer ul {
    list-style-type: none;
}
.footer .nav3 {
    display: flex; 
}
.footer .nav3 p {
    margin-left: 0.36rem;
}